@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  --font-sans: "IBM Plex Sans", sans-serif;
}

:root {
  color: #0f172a;
  background: #fffaf2;
  font-family: "IBM Plex Sans", sans-serif;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}

button {
  font: inherit;
}
